@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-color: #222;
    color: #dddddd;
    transition: background-color 0.3s
}
.charainfo{
    display: inline-flex;
}
.characteravatar{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}
.characteravatar .displaypic{
    width: 104px;
    height:104px;
    margin-left: -2px;
    object-fit: scale-down;
}
.characteravatar .avatarframe{
    position: absolute;
    width: 120px;
    margin: -13px 0px 0px 2px;
    pointer-events: none;
}
.characteravatar .elementframe{
    position: absolute;
    width: 40px;
    right:0px;
    bottom: 0px;
}
.characteravatar .element{
    position: absolute;
    width: 34px;
    right: 3px;
    bottom: 3px;
}

.charactercard{
    position: relative;
    display: inline-flex;
    justify-content: center;

    width: 120px;
    height: 220px;
    margin : 0px 0px 0px 0px;
    padding: 0px 0px 8px 0px;
}
.charactercard .cardpic{
    width: 100px;
    object-fit: scale-down;
    margin: -5px 0px 0px 0px;
}
.charactercard .cardframe{
    position: absolute;
    width: 120px;
    margin: 0px 0px 0px 0px;
    pointer-events: none;
}
.charactercard .elementframe{
    position: absolute;
    width: 50px;
    left: 5px;
    bottom: 10px;
}
.charactercard .element{
    position: absolute;
    width: 44px;
    left: 7px;
    bottom: 13px;
}
.charactercard .typeframe{
    position: absolute;
    width: 50px;
    right: 5px;
    bottom: 10px;
}
.charactercard .type{
    position: absolute;
    width: 44px;
    right: 7px;
    bottom: 13px;
}

.starContainer{
    display:inline-flex;
    flex-direction: column-reverse;
}
.starHorizontal{
    flex-direction: row;
}

.starContainer .star{
    display: flex;
    width:50px;
    margin:-10px;
    pointer-events: none;
    transition: filter 0.2s;
}
.starContainer .starbutton{
    width: 38px;
    background: none;
    border:none;
    cursor:pointer;
    border-radius: 50%;
}
.starContainer .starunbutton{
    cursor:not-allowed;
}

.starContainer .starbutton:hover .star{
    filter: drop-shadow(0 0 2px #ffffff);
}

.starSmall{
    width:30px !important;
    margin:-5px !important;
}

.invisibleButton{
    background: #00000000;
    border: none;
    cursor: pointer;
    transition: transform 0.5s, filter 0.5s;
}

.invisibleButton:hover{
    filter: drop-shadow(1px 1px 2px #ddd);
    transform: scale(1.1);
}